* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes sliding-image {
  0% {
    transform: translateX(10rem);
  }

  50% {
    transform: translateX(-20rem);
  }

  100% {
    transform: translateX(10rem);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 5rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  animation: sliding-image 2s linear 0.2s infinite;
}

.image-container > img {
  border-radius: 50%;
  border: 2px solid black;
  width: 100%;
  height: auto;

  transition: transform 0.1s ease-in;
}

.image-container > img:hover {
  transform: rotate(180deg);
}

.image-container > h1 {
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description > p {
  font-size: 1.1rem;
}

.video-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.video-links-container > h2 {
  font-size: 2rem;
}

.video-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  list-style: square;
}

.video-links > li > a {
  text-decoration: none;
}

.video-links > li > a:hover {
  text-decoration: underline;
}
