@keyframes sliding {
  from {
    color: green;
    margin-left: 8rem;
  }

  to {
    color: purple;
    margin-right: 16rem;
  }
}

.background {
  background-color: #0e2f3d;
}

.penguinz0 {
  text-align: center;
  font-size: 2.3rem;
  animation-name: sliding;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

h1 {
  text-shadow: 1px 1px 5px white;
}

.penguinz0:hover {
  transform: scale(1.3);
}

img {
  border: solid 1px black;
}

p {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 1.3rem;
  padding-top: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  font-size: 1.3rem;
  color: white;
}

a {
  color: white;
}

li:hover {
  text-shadow: 1px 1px 5px black;
  transform: scale(1.005);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
